services:
  # Redis Service (for cart microservice)
  redis:
    image: redis:alpine
    container_name: redis-dev
    restart: always
    ports:
      - "6379:6379"
    command: redis-server --save "" --appendonly no

  # Keycloak Service (for authentication/gateway)
  keycloak:
    image: quay.io/keycloak/keycloak:26.0.0
    container_name: keycloak-dev
    command: start-dev
    environment:
      KEYCLOAK_ADMIN: admin
      KEYCLOAK_ADMIN_PASSWORD: admin
    ports:
      - "9000:8080"
    # Added a simple health check to ensure keycloak is ready before other services
    healthcheck:
      test: ["CMD-SHELL", "curl -f http://localhost:8080/health || exit 1"]
      interval: 30s
      timeout: 10s
      retries: 5

  # Mongo Service (for product microservice)
  mongo:
    image: mongo
    container_name: mongo-dev
    restart: always
    ports:
      - "27017:27017"
    environment:
      MONGO_INITDB_ROOT_USERNAME: admin
      MONGO_INITDB_ROOT_PASSWORD: admin
    volumes:
      # Optional: Persist the data so it isn't lost when containers are removed
      - mongo-data:/data/db
  # Postgres Service (for order microservice)
  postgres:
    image: postgres:18.1-alpine3.23
    restart: always
    environment:
      POSTGRES_PASSWORD: postgres
      POSTGRES_USER: postgres
    ports:
      - 5432:5432
    volumes:
      - postgres-data:/var/lib/postgresql/data
volumes:
  mongo-data:
    driver: local
  postgres-data:
    driver: local
